:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.table-container {
  flex: 1;
  overflow: auto;
}

table {
  width: 100%;
}

mat-form-field.filter {
  border: 1px solid #CCC;
  max-width: 650px;
  width: 100%;
  margin: auto;
  display: block;
  padding: 8px 16px;
  border-radius: 8px;
}

.mat-column-relevantException {
  max-width: 600px;
  min-width: 600px;
}

.mat-column-context {
  white-space: nowrap;
}

.mat-column-count {
  max-width: 80px;
  padding: 0 16px;
}

.mat-column-note {
  padding: 16px;
  min-width: 500px;

  mat-form-field {
    width: 100%;
  }
}
