<div class="header">

  <div class="name" *ngIf="name">
    <a mat-icon-button routerLink="." [queryParams]="{name: ''}">
      <mat-icon>arrow_back</mat-icon>
    </a>
    {{name}} - {{errors?.length || '--'}} failures
  </div>

  <div class="filter-container" [style.visibility]="errors?.length > 0 ? 'visible' : 'hidden'">
    <mat-icon>search</mat-icon>
    <textarea #filter mat-autosize placeholder="Filter"></textarea>
  </div>
</div>

<error-count [errors]="errors" [filter]="filter.value" *ngIf="errors?.length"></error-count>

<div *ngIf="loadingErrors" class="loading">
  Loading results
  <mat-spinner diameter="48"></mat-spinner>
</div>

<div *ngIf="!name" class="empty-state">
  <button mat-stroked-button color="primary" (click)="uploadJson()">
    Upload
  </button>

  <div class="uploaded-files-list">
    <a *ngFor="let name of uploadedJsonFiles | async"
        routerLink="." [queryParams]="{name: name}">
      {{name}}
    </a>
  </div>
</div>
