<div class="header">
  <div class="name" *ngIf="name">
    {{name}} - {{errors?.length || '--'}} failures
  </div>

  <div class="filter-container">
    <mat-icon>search</mat-icon>
    <textarea #filter mat-autosize placeholder="Filter"></textarea>
  </div>

  <button mat-button (click)="uploadJson()">
    Upload
  </button>
</div>

<error-count [errors]="errors" [filter]="filter.value" *ngIf="errors?.length"></error-count>

<div *ngIf="loading" class="loading">
  Loading results
  <mat-spinner diameter="48"></mat-spinner>
</div>
