:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  padding: 0 16px;
}

.name {
  font-size: 18px;
  display: flex;
  align-items: center;

  a {
    margin-right: 16px;
  }
}

.num-failures {
  padding: 24px;
  font-size: 24px;
}

label {
  width: 120px;
  padding: 8px;
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-container {
  border: 1px solid #CCC;
  max-width: 650px;
  width: 100%;
  margin: auto;
  display: block;
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  color: #444;

  mat-icon {
    padding-right: 8px;
  }

  textarea {
    width: 100%;
    border: none;
    outline: none;
    font-family: Roboto;
    font-size: 18px;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;

  mat-spinner {
    margin-top: 16px;
  }
}

.uploaded-files-list {
  text-align: center;
  display: flex;
  flex-direction: column;
}
